{% extends "_includes/page.html" %}

{% block title %}Projects{% endblock %}

{% macro projects_list(projects) %}
  {% for batch in projects | batch(3) %}
    <div class="row">
      {% for project in batch %}
        <div class="col-sm-4">
          <div class="card project">
            <div class="card-block">
              {% if project.starred_by(g.account) %}
                <a class="star" href="{{ url_for('.unstar_project', project_id=project.id) }}"><span class="ion-android-star pull-xs-right" style="font-size: 1.6rem; line-height: 0.5;"></span></a>
              {% else %}
                <a class="star" href="{{ url_for('.star_project', project_id=project.id) }}"><span class="ion-android-star-outline pull-xs-right" style="font-size: 1.6rem; line-height: 0.5;"></span></a>
              {% endif %}

              <h4 class="card-title"><a href="{{ url_for('.view_project', project_id=project.id ) }}">{{ project.name }}</a></h4>
              <h6 class="card-subtitle text-muted m-t">{{ project.entries | length }} entries ・ {{ project.members | length }} members</h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br />
  {% endfor %}
{% endmacro %}

{% block page %}
  {% if g.account.projects | list %}
    {% if g.account.my_projects | list %}
      <h1>My Projects</h1>
      <br />

      {{ projects_list(g.account.my_projects) }}
    {% endif %}

    {% if g.account.shared_projects | list %}
      <h1>Projects shared with me</h1>
      <br />

      {{ projects_list(g.account.shared_projects) }}
    {% endif %}

    <a class="btn btn-success pull-xs-right" href="{{ url_for('.new_project') }}" role="button"><span class="ion-plus-round m-r"></span>New project</a>
    <div class="clearfix"></div>
  {% else %}
    <p class="lead text-xs-center">It looks like you don't have any projects. (lazy!)</p>
    <p class="text-xs-center">Click the button below to create your first project.</p>
    <p class="text-xs-center">
      <a class="btn btn-success" href="{{ url_for('.new_project') }}" role="button"><span class="ion-plus-round m-r"></span>New project</a>
    </p>
  {% endif %}
{% endblock %}
