{% extends "_includes/page.html" %}

{% set current_project = project.id %}

{% block title %}{{ project.name }}{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@tomleese" />
  <meta name="twitter:title" content="{{ project.name }}" />
  <meta name="twitter:description" content="{{ project.description }}" />

  <meta property="og:title" content="{{ project.name }}" />
  <meta property="og:description" content="{{ project.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:image" content="{{ url_for('static', filename='images/icon-192.png') }}" />
{% endblock %}

{% block imports %}
  <link rel="import" href="{{ url_for('static', filename='components/app-project/index.html') }}" />

  <style>
    body {
      float: left;
    }
  </style>
{% endblock %}

{% block body %}
  <app-project project-id="{{ project.id }}"></app-project>
{% endblock %}
