<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-delete-modal/index.html" />
<link rel="import" href="../app-error-modal/index.html" />
<link rel="import" href="../app-project-member-editor/index.html" />

<dom-module id="app-project-members">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/Ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      li {
        cursor: pointer;
      }
    </style>

    <div class="modal fade" id="new-modal" tabindex="-1" role="dialog" aria-labelledby="new-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="new-modal-label">New member</h4>
          </div>

          <div class="modal-body">
            <p>Enter the email address of the person you wish to enter.</p>

            <form id="new-modal-form" class="form-inline" on-submit="_disableFormSubmit">
              <div class="form-group">
                <input type="text" class="form-control" id="new-modal-email-address" placeholder="Email address" />
              </div>

              <div class="form-group">
                <select id="new-modal-access-level" class="form-control c-select">
                  <option value="administrator">Can administrate</option>
                  <option value="editor">Can edit</option>
                  <option value="viewer" selected>Can view</option>
                </select>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" on-click="_handleActuallyNewMember">Save</button>
          </div>
        </div>
      </div>
    </div>

    <app-delete-modal id="deleteModal" what="member" on-deleted="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-project-member-editor id="editor" project-id="[[ projectId ]]" on-deleted="reload"></app-project-member-editor>

    <p class="text-muted" hidden$="[[ isSelecting ]]">Tap on a member to change or remove it.</p>
    <p class="text-muted" hidden$="[[ !isSelecting ]]">Tap on a member to select it.</p>

    <ul class="list-group">
      <template is="dom-repeat" items="{{ members }}" as="member">
        <li class$="{{ _listItemClass(member.selected) }}" on-click="_handleSelect">
          <img class="img-rounded m-r" src="{{ member.account.photo_url }}" width="32" height="32" />
          <span>{{ member.account.display_name }}</span>
          <span class="label label-default m-l">{{ member.access_level.description }}</span>
        </li>
      </template>
    </ul>

    <br />
    <button type="button" class="btn btn-success pull-right" on-click="_handleNewMember">
      <span class="ion-plus-round m-r"></span>New member
    </button>
    <div class="clearfix"></div>
  </template>

  <script>
    Polymer({
      is: 'app-project-members',
      properties: {
        projectId: {
          type: Number,
          observer: '_projectIdChanged'
        }
      },
      ready: function() {
        this.isSelecting = false;
      },
      _projectIdChanged: function(newValue, oldValue) {
        this.reload();
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },
      _handleSelect: function(e) {
        if (this.isSelecting) {
          var newState = !e.model.member.selected;
          e.model.set('member.selected', newState);

          if (newState) {
            this.fire('item-selected', e.model.member);
          } else {
            this.fire('item-deselected', e.model.member);
          }
        } else {
          this.$.editor.show(e.model.member);
        }
      },
      _handleNewMember: function(e) {
        this.$['new-modal-email-address'].value = '';
        this.$['new-modal-access-level'].value = 'viewer';

        $(this.$['new-modal']).modal('show');
      },
      _handleActuallyNewMember: function(e) {
        var emailAddress = this.$['new-modal-email-address'].value;
        var accessLevel = this.$['new-modal-access-level'].value;

        requests.post('/api/projects/' + this.projectId + '/members')
          .send({'email_address': emailAddress, 'access_level': accessLevel})
          .go(function(statusCode, response) {
            if (statusCode === 409) {
              this.$.errorModal.show('Member with that email address already exists.');
            } else if (statusCode === 400) {
              this.$.errorModal.show('No such member for that email address.');
            } else if (statusCode === 201) {
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        $(this.$['new-modal']).modal('hide');
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/members')
          .go(function(statusCode, response) {
            this.members = response.members;
          }.bind(this));
      },
      startSelecting: function() {
        this.isSelecting = true;
        this.$.editor.hide();
      },
      stopSelecting: function() {
        this.clearSelection();
        this.isSelecting = false;
      },
      clearSelection: function() {
        for (var i = 0; i < this.members.length; i++) {
          this.set('members.' + i + '.selected', false);
        }
      },
      selectItem: function(member) {
        for (var i = 0; i < this.members.length; i++) {
          if (this.members[i].id === member.id) {
            this.set('members.' + i + '.selected', true);
          }
        }
      },
      _listItemClass: function(isSelected) {
        var s = 'list-group-item';
        if (isSelected) {
          s += ' active';
        }
        return s;
      },
    });
  </script>

</dom-module>
