<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-thing-editor/index.html" />

<dom-module id="app-project-member-editor">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-delete-modal id="deleteModal" what="member" on-delete="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-thing-editor id="editor" what="Member">
      <form id="form" class="form-inline" on-submit="_preventDefault">
        <div class="form-group">
          <select id="formAccessLevel" class="form-control c-select" on-change="_handleAccessLevelChange">
            <option value="owner">Owner</option>
            <option value="administrator">Can administrate</option>
            <option value="editor">Can edit</option>
            <option value="viewer" selected>Can view</option>
          </select>
        </div>
      </form>

      <hr />

      <button class="btn btn-danger btn-sm pull-xs-right" on-click="_handleDelete"><span class="ion-trash-a m-r"></span>Delete</button>
      <div class="clearfix"></div>
    </app-thing-editor>
  </template>

  <script>
    Polymer({
      is: 'app-project-member-editor',
      properties: {
        projectId: Number,
      },

      show: function(member) {
        this.member = member;
        this.$.editor.show(member.account.display_name);

        this.$.formAccessLevel.value = member.access_level.id;
      },
      hide: function() {
        this.member = undefined;
        this.$.editor.hide();
      },
      submitChange: function(key, value, callback) {
        var data = {};
        data[key] = value;

        requests.patch('/api/projects/' + this.projectId + '/members/' + this.member.id)
          .send(data)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              if (callback !== undefined) {
                callback();
              }
              this.fire('change');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      delete: function(member) {
        this.$.deleteModal.show(member.account.display_name, member);
      },

      _preventDefault: function(e) {
        e.preventDefault();
        return false;
      },
      _handleDelete: function(e) {
        this.delete(this.member);
      },
      _handleActuallyDelete: function(e) {
        var member = e.detail;
        requests.delete('/api/projects/' + this.projectId + '/members/' + member.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('delete', member);
              this.hide();
            } else if (statusCode === 405) {
              this.$.errorModal.show('Owners cannot be deleted.');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleAccessLevelChange: function() {
        this.submitChange('access_level', this.$.formAccessLevel.value);
      }
    });
  </script>

</dom-module>
