<link rel="import" href="../../bower_components/polymer/polymer.html" />

<dom-module id="app-project-calendar">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/Ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .working-week .card {
        cursor: pointer;
      }
    </style>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Working week</h4>
        <p class="card-text">Set the working week for your project here.</p>

        <div class="card-group working-week">
          <div id="worksOnMonday" class="card text-center" on-click="_toggleMonday">
            <div class="card-block">
              <p class="card-text">Monday</p>
            </div>
          </div>
          <div id="worksOnTuesday" class="card text-center" on-click="_toggleTuesday">
            <div class="card-block">
              <p class="card-text">Tuesday</p>
            </div>
          </div>
          <div id="worksOnWednesday" class="card text-center" on-click="_toggleWednesday">
            <div class="card-block">
              <p class="card-text">Wednesday</p>
            </div>
          </div>
          <div id="worksOnThursday" class="card text-center" on-click="_toggleThursday">
            <div class="card-block">
              <p class="card-text">Thursday</p>
            </div>
          </div>
          <div id="worksOnFriday" class="card text-center" on-click="_toggleFriday">
            <div class="card-block">
              <p class="card-text">Friday</p>
            </div>
          </div>
          <div id="worksOnSaturday" class="card text-center" on-click="_toggleSaturday">
            <div class="card-block">
              <p class="card-text">Saturday</p>
            </div>
          </div>
          <div id="worksOnSunday" class="card text-center" on-click="_toggleSunday">
            <div class="card-block">
              <p class="card-text">Sunday</p>
            </div>
          </div>
        </div>

        <br />

        <form class="form-inline">
          <div class="form-group m-r-lg">
            <label class="control-label"for="workingDayStart">Working day starts at:</label>
            <input class="form-control" type="time" id="workingDayStart" placeholder="Start of working day" on-change="_handleWorkingDayStartChange" />
          </div>

          <div class="form-group">
            <label class="control-label"for="workingDayEnd">Working day ends at:</label>
            <input class="form-control" type="time" id="workingDayEnd" placeholder="End of working day" on-change="_handleWorkingDayEndChange" />
          </div>
        </form>
      </div>
    </div>

    <app-error-modal id="errorModal"></app-error-modal>

    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="newModalLabel">New holiday</h4>
          </div>

          <div class="modal-body">
            <p>Enter the details of the new holiday.</p>

            <form id="newModalForm" class="form" on-submit="_disableFormSubmit">
              <div class="form-group">
                <input type="text" class="form-control" id="newModalFormName" placeholder="Name" required />
              </div>

              <div class="form-group form-inline">
                <input type="date" class="form-control" id="newModalFormStart" placeholder="Start" required />
                <input type="date" class="form-control" id="newModalFormEnd" placeholder="End" required />
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" on-click="_handleActuallyNewHoliday">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="deleteModalLabel">Remove holiday?</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to remove <span id="deleteModalWho"></span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" on-click="_handleActuallyDeleteHoliday">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Holidays</h4>
        <p class="card-text">Add some holidays.</p>

        <template is="dom-if" if="{{ hasHolidays }}">
          <ul class="list-group">
            <template is="dom-repeat" items="{{ holidays }}" as="holiday">
              <li class="list-group-item">
                <span class="m-r">{{ holiday.name }}</span>
                <small><span>{{ holiday.start }}</span> — <span>{{ holiday.end }}</span></small>
                <button class="btn btn-sm btn-danger pull-right" on-click="_handleDeleteHoliday"><span class="ion-trash-a"></span></button>
              </li>
            </template>
          </ul>

          <br />
          <button type="button" class="btn btn-success pull-right" on-click="_handleNewHoliday">
            <span class="ion-plus-round m-r"></span>New holiday
          </button>
          <div class="clearfix"></div>
        </template>

        <template is="dom-if" if="{{ !hasHolidays }}">
          <p class="lead text-center">This project hasn't got any holidays.</p>
          <p class="text-center">Click the button below to create one.</p>
          <p class="text-center">
            <button type="button" class="btn btn-success" on-click="_handleNewHoliday"><span class="ion-plus-round m-r"></span>New holiday</button>
          </p>
        </template>
      </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'app-project-calendar',
      properties: {
        projectId: {
          type: Number,
          observer: '_projectIdChanged'
        }
      },
      _projectIdChanged: function(newValue, oldValue) {
        this.reload();
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/calendar')
          .go(function(statusCode, response) {
            this.calendar = response.calendar;
            this.holidays = this.calendar.holidays;
            this.hasHolidays = !!this.holidays.length;

            this._setWorkingDay(this.$.worksOnMonday, this.calendar.working_week.monday);
            this._setWorkingDay(this.$.worksOnTuesday, this.calendar.working_week.tuesday);
            this._setWorkingDay(this.$.worksOnWednesday, this.calendar.working_week.wednesday);
            this._setWorkingDay(this.$.worksOnThursday, this.calendar.working_week.thursday);
            this._setWorkingDay(this.$.worksOnFriday, this.calendar.working_week.friday);
            this._setWorkingDay(this.$.worksOnSaturday, this.calendar.working_week.saturday);
            this._setWorkingDay(this.$.worksOnSunday, this.calendar.working_week.sunday);

            this.$.workingDayStart.value = this.calendar.working_day.start;
            this.$.workingDayEnd.value = this.calendar.working_day.end;
          }.bind(this));
      },
      _setWorkingDay: function(element, isWorking) {
        if (isWorking) {
          element.classList.add('bg-success');
          element.classList.add('bg-inverse');
        } else {
          element.classList.remove('bg-success');
          element.classList.remove('bg-inverse');
        }
      },
      _toggleWorkingDay: function(element, name) {
        var oldState = element.classList.contains('bg-inverse');
        var newState = !oldState;
        this._setWorkingDay(element, newState);

        var data = {};
        data[name] = newState;

        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_week': data})
          .go(function(statusCode, response) {
            if (statusCode !== 204) {
              this._setWorkingDay(element, oldState);
            }
          }.bind(this));
      },
      _toggleMonday: function() {
        this._toggleWorkingDay(this.$.worksOnMonday, 'monday');
      },
      _toggleTuesday: function() {
        this._toggleWorkingDay(this.$.worksOnTuesday, 'tuesday');
      },
      _toggleWednesday: function() {
        this._toggleWorkingDay(this.$.worksOnWednesday, 'wednesday');
      },
      _toggleThursday: function() {
        this._toggleWorkingDay(this.$.worksOnThursday, 'thursday');
      },
      _toggleFriday: function() {
        this._toggleWorkingDay(this.$.worksOnFriday, 'friday');
      },
      _toggleSaturday: function() {
        this._toggleWorkingDay(this.$.worksOnSaturday, 'saturday');
      },
      _toggleSunday: function() {
        this._toggleWorkingDay(this.$.worksOnSunday, 'sunday');
      },
      _handleWorkingDayStartChange: function() {
        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_day': {'start': this.$.workingDayStart.value}})
          .go(function(statusCode, response) {

          }.bind(this));
      },
      _handleWorkingDayEndChange: function() {
        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_day': {'end': this.$.workingDayEnd.value}})
          .go(function(statusCode, response) {

          }.bind(this));
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },
      _handleDeleteHoliday: function(e) {
        var holiday = e.model.holiday;

        this.$.deleteModalWho.textContent = holiday.name;
        this._targetResourceForDeletion = holiday;
        $(this.$.deleteModal).modal('show');
      },
      _handleActuallyDeleteHoliday: function(e) {
        var holiday = this._targetResourceForDeletion;
        requests.delete('/api/projects/' + this.projectId + '/calendar/holidays/' + holiday.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        $(this.$.deleteModal).modal('hide');
      },
      _handleNewHoliday: function(e) {
        this.$.newModalFormName.value = '';
        this.$.newModalFormStart.value = '';
        this.$.newModalFormEnd.value = '';

        $(this.$.newModal).modal('show');
      },
      _handleActuallyNewHoliday: function(e) {
        var holiday = {
          name: this.$.newModalFormName.value,
          start: this.$.newModalFormStart.value,
          end: this.$.newModalFormEnd.value,
        };

        requests.post('/api/projects/' + this.projectId + '/calendar/holidays')
          .send(holiday)
          .go(function(statusCode, response) {
            if (statusCode === 400) {
              $(this.$.newModal).modal('show');
            } else if (statusCode === 201) {
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        $(this.$.newModal).modal('hide');
      },
    });
  </script>

</dom-module>
