<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-error-modal/index.html" />

<dom-module id="app-project-calendar">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .working-week .card {
        cursor: pointer;
      }

      .holidays li {
        cursor: pointer;
      }
    </style>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Project start</h4>
        <p class="card-text">Set the start date for your project here.</p>

        <form class="form-inline">
          <div class="form-group">
            <label class="control-label" for="startDate">Project starts on:</label>
            <input class="form-control" type="date" id="startDate" placeholder="Start date" on-change="_handleStartDateChange" />
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Working week</h4>
        <p class="card-text">Set the working week for your project here.</p>

        <div class="card-group working-week">
          <div id="worksOnMonday" class="card text-center" on-click="_toggleMonday">
            <div class="card-block">
              <p class="card-text">Monday</p>
            </div>
          </div>
          <div id="worksOnTuesday" class="card text-center" on-click="_toggleTuesday">
            <div class="card-block">
              <p class="card-text">Tuesday</p>
            </div>
          </div>
          <div id="worksOnWednesday" class="card text-center" on-click="_toggleWednesday">
            <div class="card-block">
              <p class="card-text">Wednesday</p>
            </div>
          </div>
          <div id="worksOnThursday" class="card text-center" on-click="_toggleThursday">
            <div class="card-block">
              <p class="card-text">Thursday</p>
            </div>
          </div>
          <div id="worksOnFriday" class="card text-center" on-click="_toggleFriday">
            <div class="card-block">
              <p class="card-text">Friday</p>
            </div>
          </div>
          <div id="worksOnSaturday" class="card text-center" on-click="_toggleSaturday">
            <div class="card-block">
              <p class="card-text">Saturday</p>
            </div>
          </div>
          <div id="worksOnSunday" class="card text-center" on-click="_toggleSunday">
            <div class="card-block">
              <p class="card-text">Sunday</p>
            </div>
          </div>
        </div>

        <br />

        <form class="form-inline">
          <div class="form-group m-r-lg">
            <label class="control-label"for="workingDayStart">Working day starts at:</label>
            <input class="form-control" type="time" id="workingDayStart" placeholder="Start of working day" on-change="_handleWorkingDayStartChange" />
          </div>

          <div class="form-group">
            <label class="control-label"for="workingDayEnd">Working day ends at:</label>
            <input class="form-control" type="time" id="workingDayEnd" placeholder="End of working day" on-change="_handleWorkingDayEndChange" />
          </div>
        </form>
      </div>
    </div>

    <app-error-modal id="errorModal"></app-error-modal>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Holidays</h4>
        <p class="card-text">Add some holidays.</p>

        <template is="dom-if" if="{{ hasHolidays }}">
          <ul class="list-group holidays">
            <template is="dom-repeat" items="{{ holidays }}" as="holiday">
              <li class="list-group-item" on-click="_handleEditHoliday">
                <span class="m-r">{{ holiday.name }}</span>
                <small><span>{{ holiday.start }}</span> — <span>{{ holiday.end }}</span></small>
                <button class="btn btn-sm btn-danger pull-right" on-click="_handleDeleteHoliday"><span class="ion-trash-a m-r"></span>Delete</button>
              </li>
            </template>
          </ul>

          <br />
          <button type="button" class="btn btn-success pull-right" on-click="_handleNewHoliday">
            <span class="ion-plus-round m-r"></span>New holiday
          </button>
          <div class="clearfix"></div>
        </template>

        <template is="dom-if" if="{{ !hasHolidays }}">
          <p class="lead text-center">This project hasn't got any holidays.</p>
          <p class="text-center">Click the button below to create one.</p>
          <p class="text-center">
            <button type="button" class="btn btn-success" on-click="_handleNewHoliday"><span class="ion-plus-round m-r"></span>New holiday</button>
          </p>
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'app-project-calendar',
      properties: {
        projectId: {
          type: Number,
          observer: 'reload',
        }
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/calendar')
          .go(function(statusCode, response) {
            this.calendar = response.calendar;
            this.holidays = this.calendar.holidays;
            this.hasHolidays = !!this.holidays.length;

            this._setWorkingDay(this.$.worksOnMonday, this.calendar.working_week.monday);
            this._setWorkingDay(this.$.worksOnTuesday, this.calendar.working_week.tuesday);
            this._setWorkingDay(this.$.worksOnWednesday, this.calendar.working_week.wednesday);
            this._setWorkingDay(this.$.worksOnThursday, this.calendar.working_week.thursday);
            this._setWorkingDay(this.$.worksOnFriday, this.calendar.working_week.friday);
            this._setWorkingDay(this.$.worksOnSaturday, this.calendar.working_week.saturday);
            this._setWorkingDay(this.$.worksOnSunday, this.calendar.working_week.sunday);

            this.$.startDate.value = this.calendar.start_date;

            this.$.workingDayStart.value = this.calendar.working_day.start;
            this.$.workingDayEnd.value = this.calendar.working_day.end;

            this.fire('load', this.calendar);
          }.bind(this));
      },
      _setWorkingDay: function(element, isWorking) {
        if (isWorking) {
          element.classList.add('bg-success');
          element.classList.add('bg-inverse');
        } else {
          element.classList.remove('bg-success');
          element.classList.remove('bg-inverse');
        }
      },
      _toggleWorkingDay: function(element, name) {
        var oldState = element.classList.contains('bg-inverse');
        var newState = !oldState;
        this._setWorkingDay(element, newState);

        var data = {};
        data[name] = newState;

        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_week': data})
          .go(function(statusCode, response) {
            if (statusCode !== 204) {
              this._setWorkingDay(element, oldState);
            }
          }.bind(this));
      },
      _toggleMonday: function() {
        this._toggleWorkingDay(this.$.worksOnMonday, 'monday');
      },
      _toggleTuesday: function() {
        this._toggleWorkingDay(this.$.worksOnTuesday, 'tuesday');
      },
      _toggleWednesday: function() {
        this._toggleWorkingDay(this.$.worksOnWednesday, 'wednesday');
      },
      _toggleThursday: function() {
        this._toggleWorkingDay(this.$.worksOnThursday, 'thursday');
      },
      _toggleFriday: function() {
        this._toggleWorkingDay(this.$.worksOnFriday, 'friday');
      },
      _toggleSaturday: function() {
        this._toggleWorkingDay(this.$.worksOnSaturday, 'saturday');
      },
      _toggleSunday: function() {
        this._toggleWorkingDay(this.$.worksOnSunday, 'sunday');
      },
      _handleWorkingDayStartChange: function() {
        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_day': {'start': this.$.workingDayStart.value}})
          .go(function(statusCode, response) {
            if (statusCode !== 204) {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleWorkingDayEndChange: function() {
        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'working_day': {'end': this.$.workingDayEnd.value}})
          .go(function(statusCode, response) {
            if (statusCode !== 204) {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleStartDateChange: function() {
        requests.patch('/api/projects/' + this.projectId + '/calendar')
          .send({'start_date': this.$.startDate.value})
          .go(function(statusCode, response) {
            if (statusCode !== 204) {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },

      _handleNewHoliday: function(e) {
        var holiday = {
          name: 'Unnamed holiday',
          start: moment().format('YYYY-MM-DD'),
          end: moment().add(1, 'days').format('YYYY-MM-DD'),
        };

        requests.post('/api/projects/' + this.projectId + '/calendar/holidays')
          .send(holiday)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('open-holiday', response.holiday);
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleEditHoliday: function(e) {
        this.fire('open-holiday', e.model.holiday);
      },
      _handleDeleteHoliday: function(e) {
        this.fire('delete-holiday', e.model.holiday);
        e.stopPropagation();
      },
    });
  </script>

</dom-module>
