<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-delete-modal/index.html" />
<link rel="import" href="../app-error-modal/index.html" />
<link rel="import" href="../app-project-resource-editor/index.html" />

<dom-module id="app-project-resources">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link type="css" rel="import" href="../../bower_components/ionicons/css/ionicons.min.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      li {
        cursor: pointer;
      }

      .resource-icon {
        color: white;
        font-size: 1.4rem;
        text-align: center;

        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
      }
    </style>

    <app-error-modal id="errorModal"></app-error-modal>

    <p class="text-muted" hidden$="[[ isSelecting ]]">Tap on a resource to change or remove it.</p>
    <p class="text-muted" hidden$="[[ !isSelecting ]]">Tap on a resource to select it.</p>

    <template is="dom-if" if="{{ hasResources }}">
      <ul class="list-group">
        <template is="dom-repeat" items="{{ resources }}" as="resource">
          <li class$="{{ _listItemClass(resource.selected) }}" on-click="_handleSelectResource">
            <span class$="{{ _resourceIconClass(resource.icon) }}" style$="[[ _resourceIconStyle(resource.colour) ]]"></span>
            <span>{{ resource.amount }}</span>
            <span>×</span>
            <span>{{ resource.name }}</span>
            <small class="m-l">{{ resource.description }}</small>
            <span class="label label-default m-l" hidden$="{{ !resource.reusable }}">Reusable</span>
            <button class="btn btn-danger btn-sm pull-xs-right" hidden$="[[ isSelecting ]]" on-click="_handleDelete"><span class="icon ion-trash-a m-r"></span>Delete</button>
          </li>
        </template>
      </ul>

      <br />
      <button type="button" class="btn btn-success pull-xs-right" on-click="_handleNewResource">
        <span class="ion-plus-round m-r"></span>New resource
      </button>
      <div class="clearfix"></div>
    </template>

    <template is="dom-if" if="{{ !hasResources }}">
      <p class="lead text-xs-center">This project hasn't got any resources.</p>
      <p class="text-xs-center">Click the button below to create one.</p>
      <p class="text-xs-center">
        <button type="button" class="btn btn-success" on-click="_handleNewResource"><span class="ion-plus-round m-r"></span>New resource</button>
      </p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'app-project-resources',
      properties: {
        projectId: {
          type: Number,
          observer: 'reload'
        },
      },

      ready: function() {
        this.isSelecting = false;
      },

      _handleSelectResource: function(e) {
        if (this.isSelecting) {
          var newState = !e.model.resource.selected;
          e.model.set('resource.selected', newState);

          if (newState) {
            this.fire('select', e.model.resource);
          } else {
            this.fire('deselect', e.model.resource);
          }
        } else {
          this.fire('open', e.model.resource);
        }
      },
      _handleNewResource: function(e) {
        var resource = {
          name: 'Untitled Resource',
          description: '',
          icon: 'help',
          amount: 1,
          reusable: false,
        };

        requests.post('/api/projects/' + this.projectId + '/resources')
          .send(resource)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('open', response.resource);
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleDelete: function(e) {
        this.fire('delete', e.model.resource);
        e.stopPropagation();
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/resources')
          .go(function(statusCode, response) {
            var resources = response.resources;

            if (this.hasResources) {
              var selectedResources = [];
              this.resources.forEach(function(res) {
                if (res.selected) {
                  selectedResources.push(res);
                }
              });

              resources.forEach(function(res) {
                selectedResources.forEach(function(res2) {
                  if (res.id === res2.id) {
                    res.selected = res2.selected;
                  }
                });
              });
            }

            this.resources = resources;
            this.hasResources = !!this.resources.length;
          }.bind(this));
      },
      startSelecting: function() {
        this.isSelecting = true;
      },
      stopSelecting: function() {
        this.clearSelection();
        this.isSelecting = false;
      },
      clearSelection: function() {
        for (var i = 0; i < this.resources.length; i++) {
          this.set('resources.' + i + '.selected', false);
        }
      },
      selectItem: function(resource) {
        for (var i = 0; i < this.resources.length; i++) {
          if (this.resources[i].id === resource.id) {
            this.set('resources.' + i + '.selected', true);
          }
        }
      },
      _resourceIconClass: function(icon) {
        return 'resource-icon ion-' + icon + ' m-r';
      },
      _resourceIconStyle: function(colour) {
        return 'background-color: ' + colour;
      },
      _listItemClass: function(isSelected) {
        var s = 'list-group-item';
        if (isSelected) {
          s += ' active';
        }
        return s;
      }
    });
  </script>

</dom-module>
