<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-delete-modal/index.html" />
<link rel="import" href="../app-error-modal/index.html" />
<link rel="import" href="../app-project-resource-editor/index.html" />

<dom-module id="app-project-resources">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/Ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      li {
        cursor: pointer;
      }
    </style>

    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="new-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="new-modal-label">New resource</h4>
          </div>

          <div class="modal-body">
            <p>Enter the details of the new resource.</p>

            <form id="newModalForm" class="form" on-submit="_disableFormSubmit">
              <div class="form-group">
                <input type="text" class="form-control" id="newModalFormName" placeholder="Name" required />
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="newModalFormDescription" placeholder="Description" required />
              </div>

              <div class="form-group">
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="cash" />
                  <span class="c-indicator"></span>
                  <span class="ion-cash"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="settings" />
                  <span class="c-indicator"></span>
                  <span class="ion-settings"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="person-stalker" />
                  <span class="c-indicator"></span>
                  <span class="ion-person-stalker"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="speakerphone" />
                  <span class="c-indicator"></span>
                  <span class="ion-speakerphone"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="email" />
                  <span class="c-indicator"></span>
                  <span class="ion-email"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="map" />
                  <span class="c-indicator"></span>
                  <span class="ion-map"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="chatbubble" />
                  <span class="c-indicator"></span>
                  <span class="ion-chatbubbles"></span>
                </label>
                <label class="c-input c-radio">
                  <input name="icon" type="radio" value="university" />
                  <span class="c-indicator"></span>
                  <span class="ion-university"></span>
                </label>
              </div>

              <div class="form-group">
                <input type="number" class="form-control" id="newModalFormAmount" placeholder="Amount" required />
              </div>

              <div class="form-group">
                <label class="c-input c-checkbox">
                  <input id="newModalFormReusable" type="checkbox" />
                  <span class="c-indicator"></span>
                  Reusable
                </label>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" on-click="_handleActuallyNewResource">Save</button>
          </div>
        </div>
      </div>
    </div>

    <app-delete-modal id="deleteModal" what="resource" on-deleted="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-project-resource-editor id="editor" project-id="[[ projectId ]]" on-deleted="reload"></app-project-resource-editor>

    <template is="dom-if" if="{{ hasResources }}">
      <ul class="list-group">
        <template is="dom-repeat" items="{{ resources }}" as="resource">
          <li class$="{{ _listItemClass(resource.selected) }}" on-click="_handleSelectResource">
            <span class$="{{ _resourceIconClass(resource.icon) }}" style="font-size: 1.4rem;"></span>
            <span>{{ resource.amount }}</span>
            <span>×</span>
            <span>{{ resource.name }}</span>
            <small class="m-l">{{ resource.description }}</small>
          </li>
        </template>
      </ul>

      <br />
      <button type="button" class="btn btn-success pull-right" on-click="_handleNewResource">
        <span class="ion-plus-round m-r"></span>New resource
      </button>
      <div class="clearfix"></div>
    </template>

    <template is="dom-if" if="{{ !hasResources }}">
      <p class="lead text-center">This project hasn't got any resources.</p>
      <p class="text-center">Click the button below to create one.</p>
      <p class="text-center">
        <button type="button" class="btn btn-success" on-click="_handleNewResource"><span class="ion-plus-round m-r"></span>New resource</button>
      </p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'app-project-resources',
      properties: {
        projectId: {
          type: Number,
          observer: '_projectIdChanged'
        },
      },
      _projectIdChanged: function(newValue, oldValue) {
        this.reload();
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },
      _handleSelectResource: function(e) {
        if (this.isSelecting) {
          var newState = !e.model.resource.selected;
          e.model.set('resource.selected', newState);

          if (newState) {
            this.fire('item-selected', e.model.resource);
          } else {
            this.fire('item-deselected', e.model.resource);
          }
        } else {
          this.$.editor.show(e.model.resource);
        }
      },
      _handleNewResource: function(e) {
        this.$.newModalFormName.value = '';
        this.$.newModalFormDescription.value = '';
        this.$.newModalForm.icon[0].checked = true;
        this.$.newModalFormAmount.value = '0';
        this.$.newModalFormReusable.checked = false;

        $(this.$.newModal).modal('show');
      },
      _handleActuallyNewResource: function(e) {
        var icon;
        for (var i = 0; i < this.$.newModalForm.icon.length; i++) {
          if (this.$.newModalForm.icon[i].checked) {
            icon = this.$.newModalForm.icon[i].value;
          }
        }

        var resource = {
          name: this.$.newModalFormName.value,
          description: this.$.newModalFormDescription.value,
          icon: icon,
          amount: this.$.newModalFormAmount.value,
          reusable: this.$.newModalFormReusable.checked,
        };

        requests.post('/api/projects/' + this.projectId + '/resources')
          .send(resource)
          .go(function(statusCode, response) {
            if (statusCode === 400) {
              $(this.$.newModal).modal('show');
            } else if (statusCode === 201) {
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        $(this.$.newModal).modal('hide');
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/resources')
          .go(function(statusCode, response) {
            var resources = response.resources;

            if (this.hasResources) {
              var selectedResources = [];
              this.resources.forEach(function(res) {
                if (res.selected) {
                  selectedResources.push(res);
                }
              });

              resources.forEach(function(res) {
                selectedResources.forEach(function(res2) {
                  if (res.id === res2.id) {
                    res.selected = res2.selected;
                  }
                });
              });
            }

            this.resources = resources;
            this.hasResources = !!this.resources.length;
          }.bind(this));
      },
      startSelecting: function() {
        this.$.editor.hide();
        this.isSelecting = true;
      },
      stopSelecting: function() {
        this.clearSelection();
        this.isSelecting = false;
      },
      clearSelection: function() {
        for (var i = 0; i < this.resources.length; i++) {
          this.set('resources.' + i + '.selected', false);
        }
      },
      selectItem: function(resource) {
        for (var i = 0; i < this.resources.length; i++) {
          if (this.resources[i].id === resource.id) {
            this.set('resources.' + i + '.selected', true);
          }
        }
      },
      _resourceIconClass: function(icon) {
        return 'ion-' + icon + ' m-r';
      },
      _listItemClass: function(isSelected) {
        var s = 'list-group-item';
        if (isSelected) {
          s += ' active';
        }
        return s;
      }
    });
  </script>

</dom-module>
