{% extends "_includes/page.html" %}

{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Yay Gantt Charts!</h1>
      <p class="lead">Tired of making boring old Gantt Chart's for your UAV project?<br />Want to feed your hunger for Gantt Charts in your life?<br />Need to spice up your Gantt-life?</p>
      <hr class="m-y-md">
      <p>Look no further!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('.signup') }}" role="button">Sign up</a>
      </p>
    </div>
  </div>
{% endblock %}
