{% extends "_includes/page.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/welcome.css') }}" />
{% endblock %}

{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Yay Gantt Charts!</h1>

      <hr class="m-y-md" />

      <p class="lead" style="line-height: 2;">
        Tired of making boring old Gantt Charts for your UAV projects?<br />
        Want to feed that secret hunger for Gantt Charts?<br />
        Need to spice up your Gantt-life?
      </p>

      <p class="lead">
        <a class="btn btn-success btn-lg" href="{{ url_for('.signup') }}" role="button">Sign up now!</a>
        <a class="btn btn-secondary btn-lg" href="#learnmore" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="page" id="learnmore">
      <section>
        <h1>What is a Gantt Chart?</h1>
        <p class="lead">A bar chart, basically.</p>
        <p>Developed by Henry Gantt in the 1910s. Blah blah blah.</p>
      </section>

      <div class="separator separator1"></div>

      <section>
        <h1>Bleh</h1>
        <p>fdshjfkdshfjdslkfsd</p>
      </section>

      <div class="separator separator2"></div>

      <section>
        <h1>Blah</h1>
        <p>fdshjfkdshfjdslkfsd</p>
      </section>

      <div class="separator separator1"></div>

      <section>
        <h1>Bloh</h1>
        <p>fdshjfkdshfjdslkfsd</p>
      </section>

      <div class="separator separator2"></div>

      <section>
        <h1>Blih</h1>
        <p>fdshjfkdshfjdslkfsd</p>
      </section>
    </div>
  </div>
{% endblock %}
