{% extends "_includes/page.html" %}

{% block body %}
  <div class="container welcome">
    <div class="jumbotron">
      <h1 class="display-2">Yay Gantt Charts!</h1>

      <hr class="m-y-md" />

      <p class="lead" style="line-height: 1.8;">
        Tired of making boring old Gantt Charts for your UAV projects?<br />
        Want to feed that secret hunger for Gantt Charts?<br />
        Need to spice up your Gantt-life?
      </p>

      <a id="learnmore"></a>

      <p class="lead m-t-2">
        <a class="btn btn-success" href="{{ url_for('.signup') }}" role="button">Sign up now!</a>
        <a class="btn btn-secondary" href="#learnmore" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <div class="container welcome">
    <div class="page">
      <section class="feature row">
        <div class="col-sm-6 text-right">
          <h2>Huh?</h2>
          <p>Well Ganttable is simply a website where you can plan any project
            you like and have it displayed as a Gantt chart. Gantt charts are a
            key tool for project planning and our website makes sure you stay
            on track!</p>
        </div>

        <div class="col-sm-6">
        </div>
      </section>

      <div class="separator separator1"></div>

      <section class="feature row">
        <div class="col-sm-6">
        </div>

        <div class="col-sm-6">
          <h2>Easy to use</h2>
          <p>Choose how many hours you can work each day, so that you’re not overwhelmed with tasks. Even add some holidays!</p>
          <p>Get annoying emails (that can be easily turned off) to remind you to do your tasks.</p>
          <p>Assign resources, members and dependencies. Even limit how many resources you can use at once!</p>
          <p>Download your chart to put into your important reports.</p>
        </div>
      </section>

      <div class="separator separator2"></div>

      <section class="feature row">
        <div class="col-sm-6 text-right">
          <h2>Mobile Ready</h2>
          <p>Access your charts on the go, and make sure you get this project done!</p>
        </div>

        <div class="col-sm-6">
          <img class="img-responsive" src="{{ url_for('static', filename='images/features/mobile-ready.png') }}" width="400" height="375" />
        </div>
      </section>

      <div class="separator separator1"></div>

      <section class="feature row">
        <div class="col-sm-12 text-xs-center">
          <h2>About Us</h2>
          <p>We’re just two university students who didn’t like the options out
            there for making Gantt charts. We are using this website for our
            own projects very successfully and we’ll be continuing to maintain
            the website throughout the year — and for however long it is
            popular.</p>
          <p>If you spot any bugs or problems, bear with us, we’ll aim to fix
            them within the week. Giving us an email at
            <a class="text-muted" href="mailto:feedback@ganttcharts.xyz">feedback@ganttcharts.xyz</a>
            is a good way of asking us any questions. Don’t worry if we don’t
            reply immediately, we’ll aim to get back to you in a few days at
            most.</p>
        </div>
      </section>

      <div class="separator separator2"></div>

      <section class="feature">
        <p class="text-xs-center lead">What are you waiting for?</p>
        <p class="text-xs-center">
          <a class="btn btn-success btn-lg" href="{{ url_for('.signup') }}" role="button">Sign up now!</a>
        </p>
      </section>
    </div>
  </div>
{% endblock %}
