{% extends "_includes/page.html" %}

{% block body %}
  <div class="container welcome">
    <div class="jumbotron">
      <h1 class="display-2">Yay Gantt Charts!</h1>

      <hr class="m-y-md" />

      <p class="lead" style="line-height: 1.8;">
        Tired of making boring old Gantt Charts for your UAV projects?<br />
        Want to feed that secret hunger for Gantt Charts?<br />
        Need to spice up your Gantt-life?
      </p>

      <a id="learnmore"></a>

      <p class="lead m-t-md">
        <a class="btn btn-success" href="{{ url_for('.signup') }}" role="button">Sign up now!</a>
        <a class="btn btn-secondary" href="#learnmore" role="button">Learn more</a>
      </p>
    </div>
  </div>

  <div class="container welcome">
    <div class="page">
      <section class="feature row">
        <div class="col-sm-6 text-right">
          <h1>Fast</h1>
          <p>Import your existing projects.</p>
          <p>Take the effort out of designing your Gantt chart by letting our computers crunch the numbers for you and produce the most efficient timeline for your project.</p>
        </div>

        <div class="col-sm-6">
        </div>
      </section>

      <div class="separator separator1"></div>

      <section class="feature row">
        <div class="col-sm-6">
        </div>

        <div class="col-sm-6">
          <h1>Easy to use</h1>
          <p>Having experienced what it’s like to make Gantt charts in Microsoft Project we know how painful that is.</p>
        </div>
      </section>

      <div class="separator separator2"></div>

      <section class="feature row">
        <div class="col-sm-6 text-right">
          <h1>Powerful</h1>
          <p>Assign members and resources to your tasks.</p>
        </div>

        <div class="col-sm-6">
        </div>
      </section>

      <div class="separator separator1"></div>

      <section class="feature row">
        <div class="col-sm-6 text-center">
          <img class="img-responsive" src="{{ url_for('static', filename='images/features/mobile-ready.png') }}" width="400" height="375" />
        </div>

        <div class="col-sm-6">
          <h1>Mobile ready</h1>
          <p>Access your Gantt charts anywhere.</p>
        </div>
      </section>

      <div class="separator separator2"></div>

      <section class="feature">
        <p class="text-center lead">What are you waiting for?</p>
        <p class="text-center">
          <a class="btn btn-success btn-lg" href="{{ url_for('.signup') }}" role="button">Sign up now!</a>
        </p>
      </section>
    </div>
  </div>
{% endblock %}
