<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-error-modal/index.html" />

<dom-module id="app-project-gantt-chart">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/Ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .gantt-chart {
        border-collapse: collapse;
      }

      .gantt-chart th.rotate {
        height: 75px;
        white-space: nowrap;
      }

      .gantt-chart th.rotate > div {
        transform: translate(3px, 36px) rotate(315deg);
        width: 30px;
      }

      .gantt-chart th.rotate > div > span {
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 2px 20px 2px 1.6rem;
      }

      .gantt-chart tbody th {
        white-space: nowrap;
        text-align: right;
        padding: 4px 10px;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-right: 0.1rem;
      }

      .gantt-chart tbody td {
        border: 1px solid rgb(200, 200, 200);
        padding: 4px 10px;
        position: relative;
        z-index: 100;
        background: white;

        width: 2rem;
        max-width: 2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .gantt-chart tfoot th {
        padding: 4px 10px;
      }

      .gantt-chart th a {
        color: black;
        padding-right: 1rem;
      }

      .gantt-chart td a {
        color: white;
      }
    </style>

    <app-error-modal id="errorModal"></app-error-modal>

    <template is="dom-if" if="{{hasGanttChart}}">
      <div style="overflow-y: scroll;">
        <table class="gantt-chart">
          <thead>
            <tr>
              <th></th>
              <template is="dom-repeat" items="{{ _tableHeadings }}">
                <th class="rotate"><div><span>{{ item }}</span></div></th>
              </template>
            </tr>
          </thead>

          <tbody>
            <template is="dom-repeat" items="{{ _blocks }}" as="block">
              <tr>
                <th><a href="{{ _blockUrl(block) }}">{{ block.task.name }}</a></th>

                <template is="dom-repeat" items="{{ _tableLeftPadding(block) }}">
                  <td></td>
                </template>

                <td colspan$="{{ _tableBlockColspan(block) }}" class="bg-inverse" title="{{ block.task.description }}" style$="{{ _tableBlockStyle(index, block) }}">
                  <a href="{{ _blockUrl(block) }}">{{ block.task.name }}</a>
                </td>

                <template is="dom-repeat" items="{{ _tableRightPadding(block) }}">
                  <td></td>
                </template>
              </tr>
            </template>
          </tbody>

          <tfoot>
            <tr>
              <th colspan$="{{ _tableFullColspan(ganttChart) }}"><a href="#" on-click="_handleNew"><span class="ion-plus-round m-r"></span>New entry</a></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </template>

    <template is="dom-if" if="{{!hasGanttChart}}">
      <p class="lead text-center">This project hasn't got any tasks.</p>
      <p class="text-center">Click the button below to create one.</p>
      <p class="text-center">
        <button class="btn btn-success" on-click="_handleNew"><span class="ion-plus-round m-r"></span>New entry</button>
      </p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'app-project-gantt-chart',
      properties: {
        projectId: {
          type: Number,
          observer: '_projectIdChanged'
        }
      },
      _projectIdChanged: function(newValue, oldValue) {
        this.reload();
      },
      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/gantt-chart')
          .go(function(statusCode, response) {
            this.ganttChart = response.gantt_chart;

            if (this.ganttChart) {
              var tableHeadings = [];
              var start = new Date(this.ganttChart.start);
              var days = Math.ceil(this.ganttChart.range / (60 * 60 * 24));
              for (var i = 0; i < days; i++) {
                var d = new Date(start);
                d.setDate(start.getDate() + i);
                tableHeadings.push(d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate());
              }
              this._tableHeadings = tableHeadings;

              this._blocks = this.ganttChart.blocks;
            }

            this.hasGanttChart = !!this.ganttChart;
          }.bind(this));
      },
      _asDays: function(seconds) {
        return seconds / (60 * 60 * 24);
      },
      _tableLeftPadding: function(block) {
        var l = parseInt(this._asDays((new Date(block.start) - new Date(this.ganttChart.start)) / 1000));
        return new Array(l);
      },
      _tableBlockColspan: function(block) {
        var end = new Date(block.end);
        end.setHours(23);
        var start = new Date(block.start);
        start.setHours(0);

        return Math.ceil(this._asDays((end - start) / 1000));
      },
      _tableBlockStyle: function(index, block) {
        var hue = (index / this.ganttChart.blocks.length) * 360;
        return 'background: hsl(' + hue + ', 50%, 50%)';
      },
      _tableRightPadding: function(block) {
        var l = parseInt(this._asDays((new Date(this.ganttChart.end) - new Date(block.end)) / 1000));
        return new Array(l);
      },
      _tableFullColspan: function(chart) {
        return Math.ceil(this._asDays(chart.range));
      },
      _blockUrl: function(block) {
        return '/tasks/' + block.task.id;
      },
      _handleNew: function(e) {
        var entry = {
          name: 'Unnamed task',
          type: 'task',
          optimistic_time_estimate: 1,
          normal_time_estimate: 1,
          pessimistic_time_estimate: 1
        };

        requests.post('/api/projects/' + this.projectId + '/entries')
          .send(entry)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.reload();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        e.preventDefault();
        return false;
      },
    });
  </script>

</dom-module>
