<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-error-modal/index.html" />

<script src="../../bower_components/moment/moment.js"></script>

<dom-module id="app-project-gantt-chart">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .img-avatar {
        image-rendering: crisp-edges;
        border-radius: 0.1rem;

        height: 1.6rem;
        margin: 0.1rem;
      }

      .fixed-bottom-right {
        position: fixed;
        top: 8.8rem;
        right: 0.8rem;
        box-shadow: 0 0 1rem rgb(180, 180, 180);
        z-index: 1000;
      }
    </style>

    <app-error-modal id="errorModal"></app-error-modal>

    <p class="text-muted" hidden$="[[ isSelecting ]]">Tap on a row to change or remove it.</p>
    <p class="text-muted" hidden$="[[ !isSelecting ]]">Tap on a row to select it.</p>

    <object id="ganttChart" data="{{ ganttChartSrc }}" type="image/svg+xml"></object>

    <template is="dom-if" if="{{ hasGanttChart }}">
      <br /><br />

      <button type="button" class="btn btn-success fixed-bottom-right" on-click="_handleNew">
        <span class="ion-plus-round m-r"></span>New entry
      </button>
      <div class="clearfix"></div>
    </template>

    <template is="dom-if" if="{{ !hasGanttChart }}">
      <p class="lead text-center">This project hasn't got any entries.</p>
      <p class="text-center">Click the button below to create one.</p>
      <p class="text-center">
        <button class="btn btn-success" on-click="_handleNew"><span class="ion-plus-round m-r"></span>New entry</button>
      </p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'app-project-gantt-chart',
      properties: {
        projectId: {
          type: Number,
          observer: 'reload',
        },
        calendar: {
          type: Object,
          reflectToAttribute: true,
        }
      },

      ready: function() {
        this.isSelecting = false;

        this.$.ganttChart.onload = function() {
          this._setUpGanttChart(this.$.ganttChart.contentDocument);
        }.bind(this);
      },

      reload: function() {
        this._saveGanttChartState();

        this.ganttChartSrc = '/projects/' + this.projectId + '/gantt-chart.svg?' + new Date().getTime();

        requests.get('/api/projects/' + this.projectId + '/entries')
          .go(function(statusCode, response) {
            this.hasGanttChart = !!response.entries.length;

            this.entries = {};
            for (var i = 0; i < response.entries.length; i++) {
              this.entries[response.entries[i].id] = response.entries[i];
            }
          }.bind(this));
      },

      _saveGanttChartState: function() {
        if (this.$.ganttChart.contentDocument && this.$.ganttChart.contentDocument.saveState) {
          this._savedState = this.$.ganttChart.contentDocument.saveState();
        } else {
          this._savedState = null;
        }
      },
      _restoreGanttChartState: function() {
        if (this.$.ganttChart.contentDocument && this.$.ganttChart.contentDocument.restoreState) {
          this.$.ganttChart.contentDocument.restoreState(this._savedState);
        }
      },
      _setUpGanttChart: function(ganttChart) {
        this._restoreGanttChartState();

        ganttChart.addEventListener('open-entry', function(e) {
          this.fire('open', this.entries[e.detail]);
          this._saveGanttChartState();
        }.bind(this));

        ganttChart.addEventListener('select-entry', function(e) {
          this.fire('select', this.entries[e.detail]);
          this._saveGanttChartState();
        }.bind(this));

        ganttChart.addEventListener('deselect-entry', function(e) {
          this.fire('deselect', this.entries[e.detail]);
          this._saveGanttChartState();
        }.bind(this));

        var svg = ganttChart.querySelector('svg');
        if (svg) {
          this.$.ganttChart.width = svg.getAttribute('width');
          this.$.ganttChart.height = svg.getAttribute('height');
        }
      },

      _handleNew: function(e) {
        var entry = {
          name: 'Unnamed task',
          type: 'task',
          normal_time_estimate: 1,
          pessimistic_time_estimate: 1
        };

        requests.post('/api/projects/' + this.projectId + '/entries')
          .send(entry)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.reload();

              this.fire('open', response.entry);
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        e.preventDefault();
        return false;
      },
      startSelecting: function() {
        this.$.ganttChart.contentDocument.startSelecting();
        this._saveGanttChartState();
      },
      stopSelecting: function() {
        this.$.ganttChart.contentDocument.stopSelecting();
        this._saveGanttChartState();
      },
      clearSelection: function() {
        this.$.ganttChart.contentDocument.clearSelection();
        this._saveGanttChartState();
      },
      selectItem: function(entry) {
        this.$.ganttChart.contentDocument.selectEntry(entry.id);
      },
      unselectItem: function(entry) {
        this.$.ganttChart.contentDocument.deselectEntry(entry.id);
      },
    });
  </script>

</dom-module>
