<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-error-modal/index.html" />

<script src="../../bower_components/moment/moment.js"></script>

<dom-module id="app-project-gantt-chart">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .gantt-chart {
        border-collapse: collapse;
        margin-right: 3rem;
      }

      .gantt-chart th.rotate {
        height: 85px;
        white-space: nowrap;
      }

      .gantt-chart th.rotate > div {
        transform: translate(-28px, 40px) rotate(315deg);
        width: 2rem;
      }

      .gantt-chart th.rotate > div > span {
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 2px 1rem 2px 1.8rem;
      }

      .gantt-chart tbody tr {
        cursor: pointer;
      }

      .gantt-chart tbody th {
        white-space: nowrap;
        text-align: right;
        padding: 4px 10px;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-right: 1rem;
        background: white;
        z-index: 10;
        position: relative;
      }

      .gantt-chart tbody td {
        border: 1px solid rgb(200, 200, 200);
        padding: 0.2rem 0.4rem;
        position: relative;
        z-index: 10;
        background: white;

        max-width: 0.8rem;  /* sum of paddings above */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .gantt-chart tbody tr.active,
      .gantt-chart tbody tr.active td,
      .gantt-chart tbody tr.active th {
        background: rgb(255, 228, 124);
      }

      .gantt-chart tfoot th {
        padding: 4px 10px;
      }

      .img-avatar {
        image-rendering: crisp-edges;
        border-radius: 0.1rem;

        height: 1.6rem;
        margin: 0.1rem;
      }
    </style>

    <app-error-modal id="errorModal"></app-error-modal>

    <p class="text-muted" hidden$="[[ isSelecting ]]">Tap on a row to change or remove it.</p>
    <p class="text-muted" hidden$="[[ !isSelecting ]]">Tap on a row to select it.</p>

    <template is="dom-if" if="{{ hasGanttChart }}">
      <table class="gantt-chart">
        <thead>
          <tr>
            <th></th>
            <template is="dom-repeat" items="{{ _tableHeadings }}">
              <th class="rotate" colspan$="{{ calendar.working_day.length }}"><div><span>{{ item }}</span></div></th>
            </template>
          </tr>
        </thead>

        <tbody>
          <template is="dom-repeat" items="{{ blocks }}" as="block">
            <tr class$="{{ _listItemClass(block.selected) }}" on-click="_handleEdit">
              <th>{{ block.entry.name }}</th>

              <template is="dom-repeat" items="{{ _tableLeftPadding(block) }}">
                <td></td>
              </template>

              <td colspan$="{{ _tableBlockColspan(block) }}" class="bg-inverse" title="{{ block.entry.description }}" style$="{{ _tableBlockStyle(index, block) }}">
                <template is="dom-repeat" items="{{ block.entry.members }}" as="member">
                  <img class="img-avatar" src="{{ member.member.account.photo_url }}" />
                </template>

                <span class="m-r">{{ block.entry.name }}</span>

                <template is="dom-repeat" items="{{ block.entry.resources }}" as="resource">
                  <span class$="[[ _iconClass(resource.resource.icon) ]]"></span>
                </template>
              </td>

              <template is="dom-repeat" items="{{ _tableRightPadding(block) }}">
                <td></td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>

      <br />
      <button type="button" class="btn btn-success pull-right" on-click="_handleNew">
        <span class="ion-plus-round m-r"></span>New entry
      </button>
      <div class="clearfix"></div>
    </template>

    <template is="dom-if" if="{{ !hasGanttChart }}">
      <p class="lead text-center">This project hasn't got any tasks.</p>
      <p class="text-center">Click the button below to create one.</p>
      <p class="text-center">
        <button class="btn btn-success" on-click="_handleNew"><span class="ion-plus-round m-r"></span>New entry</button>
      </p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'app-project-gantt-chart',
      properties: {
        projectId: {
          type: Number,
          observer: 'reload'
        },
        calendar: Object,
      },

      ready: function() {
        this.isSelecting = false;
      },

      reload: function() {
        requests.get('/api/projects/' + this.projectId + '/calendar')
          .go(function(statusCode, response) {
            this.calendar = response.calendar;

            requests.get('/api/projects/' + this.projectId + '/gantt-chart')
              .go(function(statusCode, response) {
                if (statusCode === 404) {
                  this.hasGanttChart = false;
                } else {
                  var ganttChart = response.gantt_chart;

                  var tableHeadings = [];
                  var start = new Date(ganttChart.start);
                  var end = new Date(ganttChart.end);

                  var days = Math.ceil((end - start) / (1000 * 60 * 60 * 24));
                  for (var i = 0; i < days + 1; i++) {
                    var d = new Date(start);
                    d.setDate(start.getDate() + i);

                    tableHeadings.push(moment(d).format('D MMM YYYY'));
                  }
                  this._tableHeadings = tableHeadings;

                  if (this.hasGanttChart) {
                    var oldBlocks = this.blocks;
                    var newBlocks = ganttChart.blocks;

                    newBlocks.forEach(function(a) {
                      oldBlocks.forEach(function(b) {
                        if (a.entry.id === b.entry.id) {
                          a.selected = b.selected;
                        }
                      });
                    });

                    this.blocks = newBlocks;
                  } else {
                    this.blocks = ganttChart.blocks;
                  }

                  this.ganttChart = ganttChart;
                  this.hasGanttChart = !!this.blocks.length;
                }
              }.bind(this));
          }.bind(this));
      },

      _asDays: function(seconds) {
        return seconds / (60 * 60 * 24);
      },
      _tableLeftPadding: function(block) {
        var blockStart = moment(block.start).utc();
        var ganttChartStart = moment(this.ganttChart.start).utc();

        var days = blockStart.diff(ganttChartStart, 'days');
        var hours = blockStart.diff(ganttChartStart, 'hours');

        hours -= (days * 24);

        var l = days * this.calendar.working_day.length + hours;
        return new Array(l);
      },
      _tableBlockColspan: function(block) {
        var end = moment(block.end).utc();
        var start = moment(block.start).utc();

        var days = end.diff(start, 'days');
        var hours = end.diff(start, 'hours');

        hours -= (days * 24);
        if (hours > this.calendar.working_day.length) {
          hours -= (24 - this.calendar.working_day.length);
        }

        return days * this.calendar.working_day.length + hours;
      },
      _tableBlockStyle: function(index, block) {
        var hue = (index / this.ganttChart.blocks.length) * 360;
        return 'background: hsl(' + hue + ', 50%, 50%)';
      },
      _tableRightPadding: function(block) {
        var blockEnd = moment(block.end).utc();
        var ganttChartEnd = moment(this.ganttChart.end).utc();

        var days = ganttChartEnd.diff(blockEnd, 'days');
        var hours = ganttChartEnd.diff(blockEnd, 'hours');

        hours -= (days * 24);
        if (hours > this.calendar.working_day.length) {
          hours -= (24 - this.calendar.working_day.length);
        }

        var l = days * this.calendar.working_day.length + hours;
        return new Array(l);
      },

      _handleNew: function(e) {
        var entry = {
          name: 'Unnamed task',
          type: 'task',
          normal_time_estimate: 1,
          pessimistic_time_estimate: 1
        };

        requests.post('/api/projects/' + this.projectId + '/entries')
          .send(entry)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.reload();

              this.fire('open', response.entry);
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));

        e.preventDefault();
        return false;
      },
      _handleEdit: function(e) {
        if (!this.isSelecting) {
          var entry = e.model.block.entry;
          this.fire('open', entry);
        } else {
          var newState = !e.model.block.selected;
          e.model.set('block.selected', newState);

          if (newState) {
            this.fire('select', e.model.block);
          } else {
            this.fire('deselect', e.model.block);
          }
        }
      },
      startSelecting: function() {
        this.isSelecting = true;
      },
      stopSelecting: function() {
        this.clearSelection();
        this.isSelecting = false;
      },
      clearSelection: function() {
        for (var i = 0; i < this.blocks.length; i++) {
          this.set('blocks.' + i + '.selected', false);
        }
      },
      selectItem: function(entry) {
        for (var i = 0; i < this.blocks.length; i++) {
          if (this.blocks[i].entry.id === entry.id) {
            this.set('blocks.' + i + '.selected', true);
          }
        }
      },
      unselectItem: function(entry) {
        for (var i = 0; i < this.blocks.length; i++) {
          if (this.blocks[i].entry.id === entry.id) {
            this.set('blocks.' + i + '.selected', false);
          }
        }
      },
      _listItemClass: function(isSelected) {
        return isSelected ? 'active' : '';
      },
      _iconClass: function(icon) {
        return 'ion-' + icon;
      },
    });
  </script>

</dom-module>
