<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Gantt Chart</a>

  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
  </ul>

  <form class="form-inline navbar-form pull-right">
    <div class="form-group">
      <input type="text" placeholder="Email Address" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Log in</button>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</nav>
