<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="theme-color" content="rgb(255, 228, 124)" />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>{% block title %}Ganttable{% endblock %}</title>

    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='bower_components/Ionicons/css/ionicons.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/theme.css') }}" rel="stylesheet" />

    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/icon-192.png') }}" />
    <link rel="apple-touch-icon" sizes="128x128" href="{{ url_for('static', filename='images/icon-128.png') }}" />

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/requests.js') }}"></script>

    {% block imports %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="{{ url_for('.home') }}">Ganttable &nbsp;<span class="ion-ios-home"></span></a>

      {% if g.account %}
        <ul class="nav navbar-nav">
          {% for star in g.account.stars %}
            <li class="nav-item {% if current_project == star.project.id %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('.view_project', project_id=star.project.id) }}">{{ star.project.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li class="nav-item {% if section == 'account' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('.account') }}">My Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('.logout') }}">Log out</a>
          </li>
        </ul>
      {% else %}
        <form class="form-inline navbar-form pull-right" action="{{ url_for('.login') }}" method="POST">
          <div class="form-group">
            <input type="email" name="email_address" placeholder="Email address" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Log in</button>
        </form>
      {% endif %}
    </nav>

    {% block body %}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endwith %}

        <div class="page">
          {% block page %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}

    <br />

    <footer class="footer">
      <div class="container">
        <p class="text-center text-muted">
          <img class="orycion" src="{{ url_for('static', filename='images/orycion.png') }}" width="72" height="72" />
          <br />
          A website by Vikash Tank and Thomas Leese.
        </p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>

    {% block scripts %}
    {% endblock %}
  </body>

</html>
