<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{% block title %}Ganttable{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <link href="{{ url_for('static', filename='styles/theme.css') }}" rel="stylesheet" />

    <link href="{{ url_for('static', filename='images/icon.png') }}" rel="icon" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="{{ url_for('.home') }}">Ganttable &nbsp;<span class="fa fa-home"></span></a>

      {% if g.account %}
        <ul class="nav navbar-nav">
          {% for star in g.account.stars %}
            <li class="nav-item {% if current_project == star.project.id %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('.view_project', project_id=star.project.id) }}">{{ star.project.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li class="nav-item {% if section == 'account' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('.account') }}">My Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('.logout') }}">Log out</a>
          </li>
        </ul>
      {% else %}
        <form class="form-inline navbar-form pull-right" action="{{ url_for('.login') }}" method="POST">
          <div class="form-group">
            <input type="email" name="email_address" placeholder="Email address" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Log in</button>
        </form>
      {% endif %}
    </nav>

    {% block body %}
    {% endblock %}

    {% include "_includes/footer.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>

</html>
