{% extends "_includes/page.html" %}

{% set section = 'account' %}

{% block title %}My Account{% endblock %}

{% block page %}
  <h1>My Account</h1>
  <p class="lead">Change your account settings here.</p>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Display name</h4>
      <p class="card-text">Use this form to change your display name as shown on the website.</p>

      <form id="display-name-form">
        <div class="form-group" id="display-name-group">
          <input type="text" class="form-control" id="display-name-input" name="display_name" placeholder="Display name" value="{{ g.account.display_name }}" />
          <small class="text-muted">
            You can use anything as your display name — although we recommend using your real name to make it easy for people to find you.
          </small>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="email-address-modal" tabindex="-1" role="dialog" aria-labelledby="email-address-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="email-address-modal-label">Add email address</h4>
        </div>

        <div class="modal-body">
          <p>Enter the email address you would like to add here.</p>

          <form id="email-address-modal-form" action="{{ url_for('.account_email_addresses') }}" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="email_address" placeholder="Email address" />
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button form="email-address-modal-form" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button form="email-address-modal-form" type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Email addresses</h4>
      <p class="card-text">You can add as many email addresses as you like to your account — allowing people to find you easier.</p>
    </div>

    <ul class="list-group list-group-flush">
      {% for email_address in g.account.email_addresses %}
        <li class="list-group-item">
          <span class="m-l">{{ email_address.email_address }}</span>

          {% if g.account.primary_email_address == email_address %}
            <span class="label label-success">Primary</span>
          {% endif %}

          {% if not email_address.verified %}
            <span class="label label-warning">Unverified</span>
          {% endif %}

          {% if g.account.primary_email_address != email_address %}
            <a href="{{ url_for('.account_delete_email', id=email_address.id) }}" class="pull-right btn btn-danger btn-sm m-l">Delete</a>
          {% endif %}

          {% if g.account.primary_email_address != email_address %}
            <a href="{{ url_for('.account_primary_email', id=email_address.id) }}" class="pull-right btn btn-success btn-sm m-l">Make primary</a>
          {% endif %}

          {% if not email_address.verified %}
            <a href="{{ url_for('.account_send_verify_email', id=email_address.id) }}" class="pull-right btn btn-warning btn-sm">Verify</a></li>
          {% endif %}
      {% endfor %}
    </ul>

    <div class="card-block">
      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#email-address-modal">Add another</a>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Emails</h4>
      <p class="card-text">Set which emails you want to receive.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <label class="c-input c-checkbox">
          <input type="checkbox" id="summary-email" {% if g.account.receive_summary_email %}checked{% endif %} />
          <span class="c-indicator"></span>
          Daily task summaries
        </label>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Password</h4>
      <p class="card-text">Fill out the form below to change your password.</p>
      <form action="{{ url_for('.account_password') }}" method="POST">
        <div class="form-group">
          <input type="password" class="form-control" name="old_password" placeholder="Old password" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="new_password" placeholder="New password" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/account/index.js') }}"></script>
{% endblock %}
