<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-delete-modal/index.html" />
<link rel="import" href="../app-error-modal/index.html" />
<link rel="import" href="../app-thing-editor/index.html" />

<dom-module id="app-project-entry-editor">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/Ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }
      }
    </style>

    <app-delete-modal id="deleteModal" what="entry" on-deleted="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-thing-editor id="editor" hidden>
      <form on-submit="_disableFormSubmit">
        <div class="form-group">
          <label class="c-input c-radio">
            <input name="type" id="cardFormTypeTask" type="radio" value="task" on-change="_handleTypeTaskChange" />
            <span class="c-indicator"></span>
            Task
          </label>
          <label class="c-input c-radio">
            <input name="type" id="cardFormTypeMilestone" type="radio" value="milestone" on-change="_handleTypeMilestoneChange" />
            <span class="c-indicator"></span>
            Milestone
          </label>
        </div>

        <div class="form-group">
          <input type="text" id="cardFormName" class="form-control" placeholder="Name" on-change="_handleNameChange" required />
        </div>

        <div class="form-group">
          <input type="text" id="cardFormDescription" class="form-control" placeholder="Description" on-change="_handleDescriptionChange" />
          <small class="text-muted">Enter some words about this entry, or leave it out entirely.</small>
        </div>

        <div class="form-group">
          <label class="control-label">Time estimates (optimistic, normal, pessimistic)</label>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" id="cardFormOptimistic" class="form-control text-right" placeholder="Optimistic" on-change="_handleOptimisticChange" required />
                <span class="input-group-addon">hours</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" id="cardFormNormal" class="form-control text-right" placeholder="Normal" on-change="_handleNormalChange" required />
                <span class="input-group-addon">hours</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" id="cardFormPessimistic" class="form-control text-right" placeholder="Pessimistic" on-change="_handlePessimisticChange" required />
                <span class="input-group-addon">hours</span>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <p class="text-muted">Use the “Resources” and “Members” tabs to modify those.</p>

      <hr />

      <button class="btn btn-danger btn-sm pull-right" on-click="_handleDelete"><span class="ion-trash-a m-r"></span>Delete</button>
      <div class="clearfix"></div>
    </app-thing-editor>
  </template>

  <script>
    Polymer({
      is: 'app-project-entry-editor',
      properties: {
        projectId: Number
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },
      _submitEntryChange: function(key, value, callback) {
        var data = {};
        data[key] = value;

        requests.patch('/api/projects/' + this.projectId + '/entries/' + this.entryId)
          .send(data)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              if (callback !== undefined) {
                callback();
              }
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleTypeTaskChange: function() {
        this._submitEntryChange('type', 'task');
      },
      _handleTypeMilestoneChange: function() {
        this._submitEntryChange('type', 'milestone');
      },
      _handleNameChange: function() {
        this._submitEntryChange('name', this.$.cardFormName.value, function() {
          this.$.cardTitle.textContent = this.$.cardFormName.value;
        }.bind(this));
      },
      _handleDescriptionChange: function() {
        this._submitEntryChange('description', this.$.cardFormDescription.value);
      },
      _handleOptimisticChange: function() {
        this._submitEntryChange('optimistic_time_estimate', this.$.cardFormOptimistic.value);
      },
      _handleNormalChange: function() {
        this._submitEntryChange('normal_time_estimate', this.$.cardFormNormal.value);
      },
      _handlePessimisticChange: function() {
        this._submitEntryChange('pessimistic_time_estimate', this.$.cardFormPessimistic.value);
      },
      _handleDelete: function(e) {
        this.$.deleteModal.show(this.$.cardFormName.value, this.entryId);
      },
      _handleActuallyDelete: function(e) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
              this.hide();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      show: function(entry) {
        this.entryId = entry.id;

        if (entry.type === 'task') {
          this.$.cardFormTypeTask.checked = true;
        } else {
          this.$.cardFormTypeMilestone.checked = true;
        }
        this.$.cardFormName.value = entry.name;
        this.$.cardFormDescription.value = entry.description;
        this.$.cardFormOptimistic.value = entry.time_estimates.optimistic;
        this.$.cardFormNormal.value = entry.time_estimates.normal;
        this.$.cardFormPessimistic.value = entry.time_estimates.pessimistic;

        this.$.editor.show(entry.name);
        this.fire('shown');
      },
      hide: function() {
        this.$.editor.hide();
        this.fire('hidden');
      },
      resourceSelected: function(resource) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/resources/' + resource.id)
          .send({'amount': 1})
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      resourceDeselected: function(resource) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/resources/' + resource.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      memberSelected: function(member) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/members/' + member.id)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      memberDeselected: function(member) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/members/' + member.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      dependencySelected: function(entry, callback) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/dependencies/' + entry.id)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
              callback(true);
            } else if (statusCode === 409) {
              callback(false);
            } else {
              this.$.errorModal.showUnknownError();
              callback(false);
            }
          }.bind(this));
      },
      dependencyDeselected: function(entry) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/dependencies/' + entry.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
    });
  </script>

</dom-module>
