<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-delete-modal/index.html" />
<link rel="import" href="../app-error-modal/index.html" />
<link rel="import" href="../app-thing-editor/index.html" />

<dom-module id="app-project-entry-editor">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link type="css" rel="import" href="../../bower_components/ionicons/css/ionicons.css" />

  <template>
    <style>
      :host {
        display: block;
      }

      .group-time-estimates input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
      }

      .group-time-estimates select {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
      }
    </style>

    <app-delete-modal id="deleteModal" what="entry" on-deleted="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-thing-editor id="editor" what="Entry">
      <form on-submit="_disableFormSubmit">
        <div class="form-group">
          <label class="c-input c-radio">
            <input name="type" id="cardFormTypeTask" type="radio" value="task" on-change="_handleTypeTaskChange" />
            <span class="c-indicator"></span>
            Task
          </label>
          <label class="c-input c-radio">
            <input name="type" id="cardFormTypeMilestone" type="radio" value="milestone" on-change="_handleTypeMilestoneChange" />
            <span class="c-indicator"></span>
            Milestone
          </label>
        </div>

        <div class="form-group">
          <input type="text" id="cardFormName" class="form-control" placeholder="Name" on-change="_handleNameChange" required />
        </div>

        <div class="form-group">
          <input type="text" id="cardFormDescription" class="form-control" placeholder="Description" on-change="_handleDescriptionChange" />
          <small class="text-muted">Enter some words about this entry, or leave it out entirely.</small>
        </div>

        <div class="form-group group-time-estimates">
          <label class="control-label">Time estimates (normal and pessimistic)</label>
          <div class="row">
            <div class="col-sm-3 p-r-0">
              <input type="text" id="cardFormNormal" class="form-control text-right" placeholder="Normal" on-change="_handleNormalChange" required />
            </div>

            <div class="col-sm-3 p-l-0">
              <select class="c-select" id="formNormalUnits" on-change="_handleNormalChange">
                <option value="hours">Hours</option>
                <option value="days">Days</option>
                <option value="weeks">Weeks</option>
              </select>
            </div>

            <div class="col-sm-3 p-r-0">
              <input type="text" id="cardFormPessimistic" class="form-control text-right" placeholder="Pessimistic" on-change="_handlePessimisticChange" required />
            </div>

            <div class="col-sm-3 p-l-0">
              <select class="c-select" id="formPessimisticUnits" on-change="_handlePessimisticChange">
                <option value="hours">Hours</option>
                <option value="days">Days</option>
                <option value="weeks">Weeks</option>
              </select>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <p class="text-muted">Use the “Resources” and “Members” tabs to modify those.</p>

      <hr />

      <button class="btn btn-danger btn-sm pull-right" on-click="_handleDelete"><span class="ion-trash-a m-r"></span>Delete</button>
      <div class="clearfix"></div>
    </app-thing-editor>
  </template>

  <script>
    Polymer({
      is: 'app-project-entry-editor',
      properties: {
        projectId: Number,
        calendar: {
          type: Object,
          reflectToAttribute: true,
        },
      },
      _disableFormSubmit: function(e) {
        e.preventDefault();
        return false;
      },
      _submitEntryChange: function(key, value, callback) {
        var data = {};
        data[key] = value;

        requests.patch('/api/projects/' + this.projectId + '/entries/' + this.entryId)
          .send(data)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              if (callback !== undefined) {
                callback();
              }
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      _handleTypeTaskChange: function() {
        this._submitEntryChange('type', 'task', function() {
          this.$.editor.what = 'Task';
        }.bind(this));
      },
      _handleTypeMilestoneChange: function() {
        this._submitEntryChange('type', 'milestone', function() {
          this.$.editor.what = 'Milestone';
        }.bind(this));
      },
      _handleNameChange: function() {
        this._submitEntryChange('name', this.$.cardFormName.value, function() {
          this.$.editor.title = this.$.cardFormName.value;
        }.bind(this));
      },
      _handleDescriptionChange: function() {
        this._submitEntryChange('description', this.$.cardFormDescription.value);
      },
      _handleNormalChange: function() {
        var value = this._applyUnits(this.$.cardFormNormal.value, this.$.formNormalUnits.value);
        this._submitEntryChange('normal_time_estimate', value);
      },
      _handlePessimisticChange: function() {
        var value = this._applyUnits(this.$.cardFormPessimistic.value, this.$.formPessimisticUnits.value);
        this._submitEntryChange('pessimistic_time_estimate', value);
      },
      _handleDelete: function(e) {
        this.$.deleteModal.show(this.$.cardFormName.value, this.entryId);
      },
      _applyUnits: function(value, units) {
        if (units === 'weeks') {
          return value * this.calendar.working_day.length * this.calendar.working_week.length;
        } else if (units === 'days') {
          return value * this.calendar.working_day.length;
        } else if (units === 'hours') {
          return value;
        }
      },
      _unapplyUnits: function(value, units) {
        if (units === 'weeks') {
          return value / (this.calendar.working_day.length * this.calendar.working_week.length);
        } else if (units === 'days') {
          return value / this.calendar.working_day.length;
        } else if (units === 'hours') {
          return value;
        }
      },
      _guessUnits: function(hours) {
        var weeks = this._unapplyUnits(hours, 'weeks');
        if (weeks === parseInt(weeks)) {
          return 'weeks';
        }

        var days = this._unapplyUnits(hours, 'days');
        if (days === parseInt(days)) {
          return 'days';
        }

        return 'hours';
      },
      _handleActuallyDelete: function(e) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
              this.hide();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      show: function(entry) {
        this.entryId = entry.id;

        if (entry.type === 'task') {
          this.$.cardFormTypeTask.checked = true;
          this.$.editor.what = 'Task';
        } else if (entry.type === 'milestone') {
          this.$.cardFormTypeMilestone.checked = true;
          this.$.editor.what = 'Milestone';
        }
        this.$.cardFormName.value = entry.name;
        this.$.cardFormDescription.value = entry.description;

        var normalUnits = this._guessUnits(entry.time_estimates.normal);
        this.$.cardFormNormal.value = this._unapplyUnits(entry.time_estimates.normal, normalUnits);
        this.$.formNormalUnits.value = normalUnits;

        var pessimisticUnits = this._guessUnits(entry.time_estimates.pessimistic);
        this.$.cardFormPessimistic.value = this._unapplyUnits(entry.time_estimates.pessimistic, pessimisticUnits);
        this.$.formPessimisticUnits.value = pessimisticUnits;

        this.$.editor.show(entry.name);
        this.fire('shown');
      },
      hide: function() {
        this.$.editor.hide();
        this.fire('hidden');
      },
      resourceSelected: function(resource) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/resources/' + resource.id)
          .send({'amount': 1})
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      resourceDeselected: function(resource) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/resources/' + resource.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      memberSelected: function(member) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/members/' + member.id)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      memberDeselected: function(member) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/members/' + member.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
      dependencySelected: function(entry, callback) {
        requests.put('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/dependencies/' + entry.id)
          .go(function(statusCode, response) {
            if (statusCode === 201) {
              this.fire('entry-changed');
              callback(true);
            } else if (statusCode === 409) {
              callback(false);
            } else {
              this.$.errorModal.showUnknownError();
              callback(false);
            }
          }.bind(this));
      },
      dependencyDeselected: function(entry) {
        requests.delete('/api/projects/' + this.projectId + '/entries/' + this.entryId + '/dependencies/' + entry.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('entry-changed');
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
    });
  </script>

</dom-module>
