{% extends "_includes/page.html" %}

{% set current_project = project.id %}

{% block body %}
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="{{ url_for('.view_project', project_id=project.id) }}" class="nav-link active">Gantt Chart</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_tasks', project_id=project.id) }}" class="nav-link">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_members', project_id=project.id) }}" class="nav-link">Members</a>
      </li>
    </ul>

    <h1>{{ project.name }}</h1>
    <p class="lead">A project description.</p>

    <div class="clearfix"></div>

    {% if chart %}
      <table class="table table-sm gantt-chart">
        {% for block in chart.blocks %}
          <tr>
            <th>{{ block.task.name }}</th>
            {% for i in range((block.start - chart.start).days) %}
              <td></td>
            {% endfor %}

            <td class="bg-inverse" title="{{ block.task.name }}" style="background: hsl({{ ((loop.index - 1) / chart.blocks | length) * 360 }}, 50%, 50%)" colspan="{{ (block.end - block.start).days }}">
              {{ block.task.name }}
            </td>

            {% for i in range((chart.end - block.end).days) %}
              <td></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}
