{% extends "_includes/page.html" %}

{% block body %}
  <div class="container">
    <h1>{{ project.name }}</h1>

    <table class="table table-sm gantt-chart">
      {% for block in chart.blocks %}
        <tr>
          <th>{{ block.task.name }}</th>
          {% for i in range((block.start - chart.start).days) %}
            <td></td>
          {% endfor %}

          <td class="bg-inverse" style="background: hsl({{ ((loop.index - 1) / chart.blocks | length) * 360 }}, 50%, 50%)" colspan="{{ (block.end - block.start).days }}">
            {{ block.task.name }}
          </td>

          {% for i in range((chart.end - block.end).days) %}
            <td></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
{% endblock %}
