{% extends "_includes/page.html" %}

{% block title %}Projects{% endblock %}

{% macro projects_list(projects) %}
  {% for batch in projects | batch(3) %}
    <div class="row">
      {% for project in batch %}
        <div class="col-sm-4">
          <div class="card project">
            <div class="card-block">
              {% if project.starred_by(g.account) %}
                <a class="star" href="{{ url_for('.unstar_project', project_id=project.id) }}"><span class="ion-android-star pull-right" style="font-size: 1.6rem"></span></a>
              {% else %}
                <a class="star" href="{{ url_for('.star_project', project_id=project.id) }}"><span class="ion-android-star-outline pull-right" style="font-size: 1.6rem"></span></a>
              {% endif %}
              <h4 class="card-title">{{ project.name }}</h4>
              <h6 class="card-subtitle text-muted">{{ project.tasks | length }} tasks ・ <a href="{{ url_for('.view_project', project_id=project.id) }}">{{ project.members | length }} members</a></h6>
              <p class="card-text"></p>
              <a href="{{ url_for('.view_project', project_id=project.id) }}" class="card-link">View</a>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br />
  {% endfor %}
{% endmacro %}

{% block page %}
  {% if g.account.projects | list %}
    {% if g.account.my_projects | list %}
      <h1>My Projects</h1>
      <br />

      {{ projects_list(g.account.my_projects) }}
    {% endif %}

    {% if g.account.shared_projects | list %}
      <h1>Projects shared with me</h1>
      <br />

      {{ projects_list(g.account.shared_projects) }}
    {% endif %}

    <a class="btn btn-primary pull-right" href="{{ url_for('.new_project') }}" role="button"><span class="ion-plus-round m-r"></span>New project</a>
    <div class="clearfix"></div>
  {% else %}
    <p class="lead text-center">It looks like you don't have any projects. (lazy!)</p>
    <p class="text-center">Click the button below to create your first project.</p>
    <p class="text-center">
      <a class="btn btn-success" href="{{ url_for('.new_project') }}" role="button"><span class="ion-plus-round m-r"></span>New project</a>
    </p>
  {% endif %}
{% endblock %}
