{% extends "_includes/page.html" %}

{% block body %}
  <div class="container">
    <h1>Projects</h1>

    <a class="btn btn-primary" href="{{ url_for('.new_project') }}" role="button">New Project</a>

    <table class="table table-striped">
      <thead class="thead-default">
        <th>#</th>
        <th>Name</th>
        <th>No. Tasks</th>
      </thead>

      <tbody>
        {% for project in projects %}
          <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('.view_project', project_id=project.id) }}">{{ project.name }}</a></td>
            <td>{{ project.tasks | length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
