{% extends "_includes/page.html" %}

{% set current_project = project.id %}

{% block body %}
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="{{ url_for('.view_project', project_id=project.id) }}" class="nav-link">Gantt Chart</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_tasks', project_id=project.id) }}" class="nav-link">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_members', project_id=project.id) }}" class="nav-link active">Members</a>
      </li>
    </ul>

    <h1>{{ project.name }}’s Members</h1>
    <p class="lead">A project description.</p>

    <div class="clearfix"></div>

    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Email Address</th>
        <tr>
      </thead>

      <tbody>
        {% for member in project.members %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ member.account.email_addresses[0].email_address }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="btn btn-primary pull-right" href="{{ url_for('.new_task', project_id=project.id) }}" role="button"><span class="fa fa-plus"></span> New Task</a>
    <div class="clearfix"></div>
  </div>
{% endblock %}
