{% extends "_includes/page.html" %}

{% from '_includes/macros.html' import project_lead %}

{% set current_project = project.id %}

{% block title %}{{ project.name }}{% endblock %}

{% block page %}
  {{ project_lead(project, 'members') }}

  <table class="table table-striped">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Email Address</th>
      <tr>
    </thead>

    <tbody>
      {% for member in project.members %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ member.account.email_addresses[0].email_address }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary pull-right" href="{{ url_for('.new_task', project_id=project.id) }}" role="button"><span class="fa fa-plus"></span> New Task</a>
  <div class="clearfix"></div>
{% endblock %}
