{% extends "_includes/page.html" %}

{% from '_includes/macros.html' import project_lead %}

{% set current_project = project.id %}

{% block title %}{{ project.name }}{% endblock %}

{% block imports %}
  <link rel="import" href="{{ url_for('static', filename='components/app-members-list/index.html') }}" />
{% endblock %}

{% block page %}
  {{ project_lead(project, 'members') }}

  <app-members-list project-id="{{ project.id }}"></app-members-list>

  {% include "projects/new_member_modal.html" %}

  <br />
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-member-modal">
    <span class="fa fa-plus m-r"></span>New member
  </button>

  <div class="clearfix"></div>
{% endblock %}
