{% extends "_includes/page.html" %}

{% set current_project = project.id %}

{% block body %}
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="{{ url_for('.view_project', project_id=project.id) }}" class="nav-link">Gantt Chart</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_tasks', project_id=project.id) }}" class="nav-link active">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.view_project_members', project_id=project.id) }}" class="nav-link">Members</a>
      </li>
    </ul>

    <h1>{{ project.name }}’s Tasks</h1>
    <p class="lead">A project description.</p>

    <div class="clearfix"></div>

    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Expected time</th>
          <th>Dependencies</th>
        <tr>
      </thead>

      <tbody>
        {% for task in project.tasks %}
          <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('.view_task', task_id=task.id) }}">{{ task.name }}</a></td>
            <td>{{ task.expected_time.days }} days</td>
            <td>{{ task.dependencies | map(attribute='dependency.name') | join(', ') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="btn btn-primary pull-right" href="{{ url_for('.new_task', project_id=project.id) }}" role="button"><span class="fa fa-plus"></span> New Task</a>
    <div class="clearfix"></div>
  </div>
{% endblock %}
