{% extends "_includes/page.html" %}

{% set current_project = project.id %}

{% block title %}{{ project.name }}{% endblock %}

{% block imports %}
  <link rel="import" href="{{ url_for('static', filename='bower_components/iron-pages/iron-pages.html') }}" />

  <link rel="import" href="{{ url_for('static', filename='components/app-project-gantt-chart/index.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='components/app-project-resources/index.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='components/app-project-calendar/index.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='components/app-project-members/index.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='components/app-project-entry-editor/index.html') }}" />
{% endblock %}

{% block page %}
  <ul class="nav nav-pills pull-right">
    <li class="nav-item">
      <a id="go-to-gantt-chart" href="#" class="nav-link active">Gantt Chart</a>
    </li>
    <li class="nav-item">
      <a id="go-to-resources" href="#" class="nav-link">Resources</a>
    </li>
    <li class="nav-item">
      <a id="go-to-calendar" href="#" class="nav-link">Calendar</a>
    </li>
    <li class="nav-item">
      <a id="go-to-members" href="#" class="nav-link">Members</a>
    </li>
  </ul>

  <h1>{{ project.name }}</h1>

  {% if project.description %}
    <p class="lead">{{ project.description }}</p>
  {% endif %}

  <iron-pages id="pages" selected="0">
    <app-project-gantt-chart id="gantt-chart" project-id="{{ project.id }}"></app-project-gantt-chart>
    <app-project-resources id="resources" project-id="{{ project.id }}"></app-project-resources>
    <app-project-calendar id="calendar" project-id="{{ project.id }}"></app-project-calendar>
    <app-project-members id="members" project-id="{{ project.id }}"></app-project-members>
  </iron-pages>

  <app-project-entry-editor id="entry-editor" project-id="{{ project.id }}"></app-project-entry-editor>
{% endblock %}

{% block scripts %}
  <script>
    var pages = document.getElementById('pages');

    var ganttChart = document.getElementById('gantt-chart');
    var resources = document.getElementById('resources');
    var calendar = document.getElementById('calendar');
    var members = document.getElementById('members');
    var entryEditor = document.getElementById('entry-editor');

    calendar.addEventListener('load', function(e) {
      entryEditor.calendar = e.detail;
    });

    ganttChart.addEventListener('edit', function(e) {
      entryEditor.show(e.detail);

      resources.startSelecting();
      members.startSelecting();
      ganttChart.startSelecting();

      e.detail.resources.forEach(function(res) {
        resources.selectItem(res.resource);
      });

      e.detail.members.forEach(function(member) {
        members.selectItem(member.member);
      });

      e.detail.dependencies.forEach(function(dependency) {
        ganttChart.selectItem(dependency.child);
      });
    });

    entryEditor.addEventListener('entry-changed', function(e) {
      ganttChart.reload();
    });

    entryEditor.addEventListener('hidden', function(e) {
      resources.stopSelecting();
      members.stopSelecting();
      ganttChart.stopSelecting();
    });

    resources.addEventListener('item-selected', function(e) {
      entryEditor.resourceSelected(e.detail);
    });

    resources.addEventListener('item-deselected', function(e) {
      entryEditor.resourceDeselected(e.detail);
    });

    members.addEventListener('item-selected', function(e) {
      entryEditor.memberSelected(e.detail);
    });

    members.addEventListener('item-deselected', function(e) {
      entryEditor.memberDeselected(e.detail);
    });

    ganttChart.addEventListener('item-selected', function(e) {
      entryEditor.dependencySelected(e.detail.entry, function(worked) {
        if (!worked) {
          ganttChart.unselectItem(e.detail.entry);
        }
      });
    });

    ganttChart.addEventListener('item-deselected', function(e) {
      entryEditor.dependencyDeselected(e.detail.entry);
    });

    $('#go-to-gantt-chart').click(function(e) {
      $('#go-to-gantt-chart').addClass('active');
      $('#go-to-resources').removeClass('active');
      $('#go-to-calendar').removeClass('active');
      $('#go-to-members').removeClass('active');

      pages.select(0);

      e.preventDefault();
      return false;
    });

    $('#go-to-resources').click(function(e) {
      $('#go-to-gantt-chart').removeClass('active');
      $('#go-to-resources').addClass('active');
      $('#go-to-calendar').removeClass('active');
      $('#go-to-members').removeClass('active');

      pages.select(1);

      e.preventDefault();
      return false;
    });

    $('#go-to-calendar').click(function(e) {
      $('#go-to-gantt-chart').removeClass('active');
      $('#go-to-resources').removeClass('active');
      $('#go-to-calendar').addClass('active');
      $('#go-to-members').removeClass('active');

      pages.select(2);

      e.preventDefault();
      return false;
    });

    $('#go-to-members').click(function(e) {
      $('#go-to-gantt-chart').removeClass('active');
      $('#go-to-resources').removeClass('active');
      $('#go-to-calendar').removeClass('active');
      $('#go-to-members').addClass('active');

      pages.select(3);

      e.preventDefault();
      return false;
    });
  </script>
{% endblock %}
