body {
    margin-top: 5rem;
    background: url('../images/background.png');
    background-size: 400px 347px;
}

.page {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgb(200, 200, 200);
}

.jumbotron {
    background: rgb(248, 248, 248);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgb(200, 200, 200);
}

.gantt-chart td {
    width: 2rem;
    max-width: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gantt-chart th a {
    color: black;
    padding-right: 1rem;
}

.gantt-chart td a {
    color: white;
}

.star {
    color: rgb(255, 204, 0);
}

.star:hover {
    color: rgb(191, 158, 25);
}

.orycion {
    margin: 1rem 0;
}

.card.project .text-muted a {
    color: rgb(95, 104, 111);
}

/*.btn-primary {
    color:
}*/
