.page {
    padding: 0;
}

.page section {
    padding: 2rem;
}

.page section:nth-of-type(even) {
    background: rgb(248, 248, 248);
}

.separator {
    background-size: 15px 30px;
    height: 30px;
}

.separator1 {
    background-image: url('../images/welcome-border-1.png');
}

.separator2 {
    background-image: url('../images/welcome-border-2.png');
}
