<link rel="import" href="../../bower_components/polymer/polymer.html" />

<dom-module id="app-delete-modal">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="modalLabel">Remove <span>{{ what }}</span>?</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to remove <span>{{ who }}</span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" on-click="_handleDelete">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'app-delete-modal',
      properties: {
        what: String
      },
      show: function(who, instance) {
        this.who = who;
        this.instance = instance;

        $(this.$.modal).modal('show');
      },
      _handleDelete: function() {
        console.log('Deleting ' + this.what + ':', this.instance);

        this.fire('delete', this.instance);
        $(this.$.modal).modal('hide');
      },
    });
  </script>

</dom-module>
