<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../app-thing-editor/index.html" />

<dom-module id="app-project-resource-editor">

  <link type="css" rel="import" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-delete-modal id="deleteModal" what="resource" on-deleted="_handleActuallyDelete"></app-delete-modal>

    <app-error-modal id="errorModal"></app-error-modal>

    <app-thing-editor id="editor" hidden>
      <button class="btn btn-danger btn-sm pull-right" on-click="_handleDelete"><span class="ion-trash-a m-r"></span>Delete</button>
      <div class="clearfix"></div>
    </app-thing-editor>
  </template>

  <script>
    Polymer({
      is: 'app-project-resource-editor',
      properties: {
        projectId: Number,
      },

      show: function(resource) {
        this.resource = resource;
        this.$.editor.show(resource.name);
      },
      hide: function() {
        this.resource = undefined;
        this.$.editor.hide();
      },

      _handleDelete: function(e) {
        this.$.deleteModal.show(this.resource.name, this.resource);
      },
      _handleActuallyDelete: function(e) {
        var resource = e.detail;
        requests.delete('/api/projects/' + this.projectId + '/resources/' + resource.id)
          .go(function(statusCode, response) {
            if (statusCode === 204) {
              this.fire('deleted', resource);
              this.hide();
            } else {
              this.$.errorModal.showUnknownError();
            }
          }.bind(this));
      },
    });
  </script>

</dom-module>
